################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/PresenceBridge/v16
/src/bin/Debug/netcoreapp3.1
/src/obj
/src/.vs/PresenceBridge/config
/src/bin/Debug
/src/packages
/src/bin/Release
